<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
</head>
<body>
    <h1>Movie Recommender</h1>
    <p style="color: blue;">For hollywood movies released between 1916 - 2017 only</p>
    <p style="color: blue;">Note: You have to enter movie name with correct spellings and with correct case to match the movie that is  present in the datasets. Example: Writing "spider man" is wrong ❌ because the correct name of the movie which was released in 2002 was "Spider-Man" ✅. You might have to google the movie name and then copy paste from google to get the correct recommendations(suggestions) for similar movies.</p>
    <form>
        Enter Movie Name: <br><br>
        <input type="text" name="name" placeholder="Enter Correct Movie Name">
        <button type="submit">Submit</button>
    </form>
    {% if movies %}
        <p>Movies Similar to {{name}}</p>
        <ol>
        {% for movie in movies %}
            <li>{{movie}}</li>
        {% endfor %}
        </ol>
    {% endif %}
    <p style="color: red;">{{error}}</p>
</body>
</html>